<div class="nav">
    <div class="x">
        <a href=""><i class="fas fa-home"></i>HOME</a>
        <a routerLink="/jobs"><i class="fas fa-briefcase"></i>JOBS</a>
        <a routerLink="/q&a"><i class="far fa-paper-plane"></i>Q&A</a>
      
        <a href=""><i class="fas fa-tools"></i>TOOLS</a>
      
        <a href=""><i class="fas fa-code"></i>CODING GROUND</a>
      
        <a href=""><i class="fas fa-sticky-note"></i>UPSC NOTES</a>
      
        <a href=""><i class="fas fa-laptop"></i>WHITEBOARD</a>
      
        <a href=""><i class="fas fa-video"></i>TUTORIX</a>
      
    </div>
    <div class="y">
        <a routerLink="register"><i class="fas fa-user-plus"></i>REGISTER</a>
        <a routerLink="login"><i class="fas fa-sign-in-alt"></i>LOGIN</a>
    </div>
</div>
