/* .blockForCards{
    padding: 10px;
    display: flex;
    justify-content:space-around;
    width:80%;
    margin:0 auto;
    
}
.card11{
    display:flex;
    border-top:none;
    justify-content:space-between;
}
.card11 i{
    margin-right:3px;
}

button{
    background-color: rgb(15, 13, 116);
    width: 200px;
    border-radius: 5px;
    margin: 10px 0px;
    font-size:15px;
    padding:10px 0px;  
    border-style:solid; 

}
button:hover{
    background-color: rgb(81, 82, 134);
    border-color:black;
}
button a{
    text-decoration: none;
    color: white;
}
.card01,.card02,.card03{
    width : 300px;
    background-color: rgb(231, 227, 227);
    box-shadow: 10px 10px 5px rgb(151, 150, 150);
    margin : 2px;
    border-radius: 5px;
    text-align:center;
}
.card01:hover,.card02:hover,.card03:hover{
    box-shadow : 0 0 15px rgb(117, 123, 211);
    
}
.card01 h4{

    background-color:#937197;
    color:white;
    
}
.card02 h4{
    background-color: rgb(255, 55, 55);
    color : white;
}
.card03 h4{
    background-color :rgb(45, 110, 56);
    color : white;
}
.card01 p,.card02 p,.card03 p{
    border-top : 1px solid black;
    padding : 10px;
}
.card01 h4,.card02 h4,.card03 h4{
    padding : 10px;
}
img{
    width : 150px;
    height : 150px;
    display : block;
}
.imgblock{
    display: flex;
    border-radius:5px;
    padding : 10px;
    border-bottom:none;
}
.card11 p{
    border-top:none;
} */
.x{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
    padding : 10px;
}