.card01{
    width : 300px;
    /* border : 1px solid black; */
    background-color: rgb(231, 227, 227);
    box-shadow: 10px 10px 5px rgb(151, 150, 150);
    margin : 50px;
    border-radius: 5px;
    text-align:center;
}
.card01 h4{

    background-color:#937197;
    color:white;
    
}
.card01 p{
    /* margin-right : 10px; */
    border-top : 1px solid black;
    padding : 10px;
}
.card01 h4{
    /* border-bottom : 1px solid black; */
    padding : 10px;
}
img{
    width : 150px;
    height : 150px;
    display : block;
}
.imgblock{
    display: flex;
    border-radius:5px;
    padding : 10px;
    border-bottom:none;
    /* border: 1px solid black; */
}
button{
    background-color: rgb(15, 13, 116);
    width: 200px;
    border-radius: 5px;
    margin: 10px 0px;
    font-size:15px;
    padding:10px 0px;  
    border-style:solid; 

}
button:hover{
    background-color: rgb(48, 59, 156);
    border-color:black;
}
button a{
    text-decoration: none;
    color: white;
}