<div class="middle">
    <i class="fas fa-code fa-5x"></i>
    <h4>You are browsing the best online resources for Online Education</h4>
    <div class="forSearchBar">
        <input type="text" name="search" placeholder="Search courses,books">
        <i class="fas fa-search"></i>
    </div>
    <div class="nav1">
        <a href=""><i class="fas fa-book-open"></i>Library</a>
        <a href=""><i class="fas fa-video"></i>Courses</a>
        <a href=""><i class="fas fa-book"></i>eBooks</a>
        <a href=""><i class="fas fa-cubes"></i>Prime Packs</a>
    </div>
</div>

