<div class="footer">
    <div class="p">
        <h2>MobileFirst</h2>
        <h4>Appstore</h4>
        <h4>Google Playstore</h4>
        <h4>Windows Store</h4>
    </div>
    <div class="q">
        <h2>ABOUT US</h2>
        <h4><i class="fas fa-check"></i>Company</h4>
        <h4><i class="fas fa-check"></i>Our team</h4>
        <h4><i class="fas fa-check"></i>Careers</h4>

    </div>
    <div class="r">
        <h2>Extra Links</h2>
        <h4><i class="fas fa-check"></i>Dev Tools</h4>
        <h4><i class="fas fa-check"></i>Free Graphics</h4>
        <h4><i class="fas fa-check"></i>File Conversion</h4>
    </div>
    <div class="s">
        <h2>Contact US</h2>
        <h4>Address: 4th Floor, Incor9 Building, Kavuri Hills, Madhapur, Hyderabad, Telangana 500081</h4>
    </div>

</div>